#div_top{
    height:50px;
    width:100%;
    background:#5192d9;
    line-height:50px;
    overflow:hidden;
    position:fixed;
    z-index:999;
}
#div_top ul{
    margin-left:80px;
    line-height:50px;
}
#div_top a{
    color:white;
    margin-right:10px;
}
#div_top ul li
{
    float: left;
    background:#5192d9;
    color:white;
    line-height:50px;
    height:50px;
}
#div_top ul li i{
    font-size:13px;
    line-height:20px;
}
#div_top ul li a:hover{
    color:#38ca14;
}
#div_top ul>li:nth-child(2){
    margin-left:220px;
}
#div_top ul>li:nth-child(3)
{
    margin-left:70px;
}
#div_top li #search_pro{
    padding:4px 7px;
    border:none;
    border-color:#5192d9;
    width:225px;
    /*height:30px !important;*/
}
#div_top li .search{
  margin-left:5px;
  font-size:20px;
}
#div_top li .search:hover{
    transform:rotate(30deg);
    color:#38ca14;
}
#div_top #li_regs 
{
    width:180px;
    line-height:50px;
}
#div_top #li_regs #div_img
{
    float:left;
    width:40px;
    height:40px;
    margin-top:5px;
    border-radius:50%;
}
#div_top #li_regs #div_img img{
    visibility:hidden;
}
#div_top #li_regs #hy_name
{
    float:left;
    margin-left:10px;
}
#div_top #li_regs #hy_name:hover{
    cursor:pointer;
    color:#078020;
}
#div_top #li_regs #lb_exit
{
    padding:0 8px;
    border-left:2px solid #fff;
    margin-left:3px;
}
/*侧边菜单*/
#div_sidebar{
    width:70px;
    height:100%;
    background-color:#6b6969;
    float:left;
    position:fixed;
    top:50px;
}
#div_sidebar ul li {
    height:70px;
    position:relative;
    text-align:center;
    line-height:70px;
}
#div_sidebar ul li:hover{
    cursor:pointer;
}
#div_sidebar ul li i{
    font-size:33px;
    color:white;
}
#div_sidebar ul li p{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    position:absolute;
    color:white;
    top:0;
    left:0;
    display:none;
}

/*内容区*/
#div_content{
    float:left;
    margin-top:55px;
    margin-left:78px;
    width:90%;
}