#pro_detail
{
    padding:12px;
}
#pro_detail h2 {
    font-size:20px;
    font-weight:bold;
}

#pro_detail h4{
    margin:8px 0;
    color:#0918c6;
    font-weight:bold;
    font-size:14px;
}

/*标题*/
#pro_detail #header{
    text-align:center;
}
#pro_detail #header p{
    padding:10px;
}
#pro_detail #header #lb_time,#pro_detail #header #lb_mem{
    background:#55a9fa;
    color:#fff;
    border-radius:10px;
    padding:2px 10px;
    margin-right:25px;
}
/*题目区*/
#pro_detail div
{ 
    line-height:28px;
}
#pro_detail #s_inout div{
     float:left;
 }
#pro_detail #s_inout #in{
     width:48%;
 }
#pro_detail #s_inout #out{
     width:48%;
 }
 .s_copy_in, .s_copy_out
 {
     background:#e67e22;
     color:#fff;
     font-size:12px;
     margin-left:10px;
     padding:0 5px;
     border-radius:3px;
     cursor:pointer;
 }