#div_content .div_navs
{
    margin-top:10px;
    background:linear-gradient(#2af598,#009efd);
    height:39px;
    line-height:39px;
    color:#fff;
}
#div_content .div_navs .icon
{
    color:#555;
    font-size:18px;
    margin-right:10px;
}
#div_content .div_navs input
{
    display:none;
}
#div_content .div_navs label
{
    padding:5px 40px;
    height:100%;
    line-height:30px;
}
#div_content .div_navs label:hover{
    cursor:pointer;
    background:#068b6f;
}
#div_content .div_navs label.sel
{
    background:linear-gradient(#08ce9d,#068b6f);
}
#div_content .div_navs label.sel .icon
{
    color:#fff;
}
/*显示内容区*/
 
/*说明区*/
#div_content .div_cons #ContentPlaceHolder1_div_intro p
{
    text-align:center;
    margin-bottom:25px;
}
#div_content .div_cons #ContentPlaceHolder1_div_intro  #ContentPlaceHolder1_lb_ttl
{
    font-size:26px;
}
#div_content .div_cons #ContentPlaceHolder1_div_intro span.ll
{
    margin-right:40px;
    background:#068b6f;
    color:#fff;
    padding:2px 8px;
    border-radius:5px;
}
#div_content .div_cons #ContentPlaceHolder1_div_intro span.ls
{
    background:#009efd;
}
/*选手区*/
#div_content .div_cons #ContentPlaceHolder1_btn_apply
{
    margin-bottom:10px;
}
/*试题区*/
#div_content .div_cons #ContentPlaceHolder1_div_proset table span[pid]
{
    cursor:pointer;
    color:#5b8ede;
}
#div_content #ContentPlaceHolder1_div_proset p
{
    text-align:center;
}
#div_content #ContentPlaceHolder1_div_proset #btn_uppro
{
    width:160px;
    height:35px;
    margin-left:30px;
    background:#e91038;
    border:none;
    border-radius:8px;
    color:#fff;
    font-size:16px;
    cursor:pointer;
     
 